.App {
  text-align: center;
  /* background-color: powderblue; */

}
.nav-link {
  /* TRBL */
  padding: 0px 10px 0px 10px;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  padding: 0px;
  margin: 0px;
}

.image0 {
  float: left;
}
.image1 {
  float: right;
}

.app-explanation {
  padding-top: 40px;
  padding-bottom: 100px;
}

.profile-example {
  padding-bottom: 100px;
}

.landing-text{
  padding-top: 30px;
}

.app-explanation {
  padding-left: 10em;
  padding-right: 10em;
}